.advertising-page__header {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.advertising-page__action-button {
  padding: 5px 10px;
}

.advertising-page__search-list {
  display: flex;
  list-style: none;
  gap: 50px;
}

.advertising-page__main {
  width: 95%;
  margin-top: 50px;
}

.advertising-page__table {
  border: 1px solid #ccc;
}

.advertising-page__search-item {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.advertising-page__search-item > input,
.advertising-page__search-item > select {
  margin-left: 10px;
}
