body {
  background: linear-gradient(to right, #f3f4f6 10%, #ffeedd 30%, #f5f8ff 60%);
  background-size: 100% 100%; /* 배경 크기 설정 */
}

.notice-page__header {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #dddfdd;
  width: 95%;
  align-items: center;
}

.notice-page__title {
  font-size: 30px;
}

.notice-page__search {
  padding-bottom: 20px;
  border-bottom: 2px solid #dddfdd;
  width: 95%;
}

.notice-page__search-list {
  width: 100%;
  background-color: transparent;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.notice-page__search-item {
  background-color: #f5f8ff;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 60%;
}

.notice-page__search-item > input {
  margin-left: 10px;
}

.notice-page__search-label {
  width: 15%;
  border-right: 2px solid #7c7c7c;
}

.notice-page__search-input {
  width: 80%;
  background-color: #f5f8ff;
  border: none;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 5px;
}

.notice-page__search-input::placeholder {
  color: rgb(83, 83, 83);
  transition: color 0.3s ease;
}

.notice-page__search-input:focus {
  outline: none;
}

.notice-page__main {
  width: 95%;
  margin-top: 30px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 20px 20px 0px;
}

.notice-page__table {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.notice-page__search-list {
  display: flex;
  list-style: none;
  gap: 50px;
}

.notice-page__action-create,
.notice-page__action-delete {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 30px;
  padding: 10px 3px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notice-page__action-create:hover,
.notice-page__action-delete:hover {
  background-color: #798df3;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-open .student-info__main_div {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.notice-page__error {
  margin-left: 30px;
  color: #4461f2;
}

.notice-page__empty {
  margin-left: 30px;
  color: #4461f2;
}
