.notice-page__header {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.notice-page__main {
  width: 95%;
}

.notice-page__table {
  width: 100%;
}

.notice-page__action-button {
  padding: 0px 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.notice-page__search-list {
  display: flex;
  list-style: none;
  gap: 50px;
}

.notice-page__search-item {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.notice-page__search-item > input {
  margin-left: 10px;
}

.notice-page__main {
  width: 95%;
  margin-top: 50px;
}
