* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  max-width: 520px;
  gap: 30px;
}

.login__header {
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.login__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.login__input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__input-group {
  display: flex;
  gap: 10px;
}

.login__label {
  width: 30%;
  text-align: right;
  font-weight: 500;
}

.login__label {
  min-width: 70px;
  text-align: right;
  display: flex;
  align-items: center;
  height: 100%;
}

.id__input,
.password__input {
  height: 30px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f5f8ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.id__input:focus,
.password__input:focus {
  outline: none;
}

.login__input::placeholder {
  font-size: 14px;
  color: #aaa;
}

.login__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.signup-link {
  text-decoration: none;
  color: #798df3;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.password-find {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: #082567;
}

.login__divider {
  color: #ccc;
  font-size: 14px;
}

.login__button {
  background-color: #798df3;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-top: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login__button:hover {
  background-color: #6078f3;
}

.login__error {
  margin-top: 10px;
  color: #798df3;
  font-size: 13px;
}
