* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div {
  transition: transform 0.3s ease;
  padding-left: 100px;
}

body {
  background: linear-gradient(to right, #f3f4f6 10%, #ffeedd 30%, #f5f8ff 60%);
  background-size: 100% 100%;
  overflow-x: hidden;
}

html {
  overflow-x: hidden; /* 일부 브라우저 대응 */
}
