.signin__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signin {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  max-width: 520px;
  gap: 30px;
}

.signin__header {
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.signin__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.signin__main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.signin__input-group {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.signin__input-group input::placeholder {
  font-size: 13px;
  color: #aaa;
}

.signin__input-group label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  width: 20%;
}

.signin__input-group input {
  flex: 1;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f5f8ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signin__input-group select {
  flex: 1;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #666;
  background-color: #f5f8ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.signin__input-group input:focus,
.signin__input-group select:focus {
  outline: none;
}

.verify-email {
  height: 35px;
  padding: 5px 10px;
  background-color: #798df3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  white-space: nowrap;
}

.verify-email:hover {
  background-color: #6078f3;
}

.signup-btn {
  background-color: #eaf1ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
}

.signup-btn:hover {
  background-color: #798df3;
  color: #ffffff;
}

.error__block {
  text-align: center;
  margin-bottom: 30px;
  gap: 10px;
}

.error {
  color: #798df3;
  font-size: 14px;
  display: inline-block;
}

.success {
  color: #798df3;
}
