.custom-header button {
  background-color: transparent;
  color: #798df3;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

.custom-header span {
  font-size: 16px;
}

.react-datepicker__header {
  background-color: #f5f8ff;
  border-bottom: none;
}

.react-datepicker__month-container {
  background-color: #f5f8ff;
}

.react-datepicker {
  border: none;
  padding: 10px 10px;
  background-color: #f5f8ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-datepicker__day--today {
  background-color: #798df3;
  border-radius: 30px;
}

.react-datepicker__day--selected {
  background-color: #798df3;
  border-radius: 30px;
  color: #ffffff;
}

.react-datepicker__day--selected:hover {
  background-color: #798df3 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
  border-radius: 30px !important;
  color: #ffffff !important;
}

.react-datepicker__day--today {
  background-color: #798df370;
  border-radius: 30px;
  color: #ffffff;
}

.react-datepicker__day--today:hover {
  background-color: #798df3 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
  border-radius: 30px !important;
  color: #ffffff !important;
}
