.react-datepicker {
  border: none;
  background-color: #f3f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /*폰트도 지정해줘야 할 듯*/
  border-radius: 20px;
  z-index: 1000;
}

.react-datepicker-wrapper {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.react-datepicker-wrapper:hover {
  background-color: #f3f4f6;
  font-weight: 500;
}

.react-datepicker__triangle {
  border: none !important;
  fill: transparent !important;
  color: transparent !important;
  stroke: none !important;
}

.react-datepicker__navigation {
  padding: 0;
}

h2.react-datepicker__current-month {
  padding-top: 10px;
  padding-bottom: 10px;
}

.react-datepicker__day-names {
  background-color: #798df3;
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-datepicker__day-name {
  padding: 0;
  line-height: 1rem;
  font-weight: bold;
  color: #f3f4f6;
}

.react-datepicker__day-name:last-child {
  border: none;
}

.custom-header button {
  background-color: transparent;
  color: #798df3;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

.custom-header span {
  font-size: 16px;
}

.react-datepicker__header {
  background-color: #fff;
  border-bottom: none;
  padding: 0;
}

.react-datepicker__month-container {
  background-color: #fff;
}

.react-datepicker__day--today {
  background-color: #798df3;
  border-radius: 30px;
}

.react-datepicker__day--selected {
  background-color: #798df3;
  border-radius: 30px;
  color: #ffffff;
}

.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  border-radius: 30px;
  background-color: #798df355;
}

.react-datepicker__day--today:not(.react-datepicker__day--selected) {
  background-color: #798df370;
  border-radius: 30px;
  color: #ffffff;
}

.react-datepicker__day--today:not(.react-datepicker__day--selected):hover {
  background-color: #798df3;
}

.react-datepicker__input-container input {
  width: 80%;
  background-color: #fff;
  border: none;
  padding-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.react-datepicker__input-container > input {
  margin-left: 10px;
}

.react-datepicker__input-container input::placeholder {
  color: rgb(83, 83, 83);
  transition: color 0.3s ease;
}

.react-datepicker__input-container input:focus {
  outline: none;
}

.calendar-input-text {
  font-size: 17px;
}
