.classroom-info-update__building-block {
  margin-bottom: 40px;
}

.classroom-info__building-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 10px;
}

.classroom-info__building-header:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.toggle-arrow {
  width: 25px;
}

.building-name {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
}

.building-name img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
