.classroom-info-update__row_div {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #e2eaf3;
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  border-radius: 30px;
}

.classroom-info-update__row_div:hover {
  background-color: #798df3;
  color: #ffffff;
}

.classroom-info-update__row {
  display: flex;
  gap: 10px;
}

.classroom-info-update__cell {
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}
