/* 모달창 전체 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 50px;
  border-radius: 8px;
  width: 1000px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 강의실 상세보기 모달 */
.classroom-details__title {
  margin-bottom: 25px;
}

.classroom-details__list {
  list-style: none;
}

.classroom-details__item {
  margin-bottom: 5px;
}

.classroom-details__footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.classroom-details__update {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.classroom-details__update:hover {
  background-color: #254f97;
}

/* 강의실 등록 모달 */
.classroom-create__title {
  margin-bottom: 25px;
}

.classroom-create__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.classroom-create__list {
  list-style: none;
}

.classroom-create__input {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.classroom-create__textarea {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.classroom-create__footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.classroom-create__submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.classroom-create__submit:hover {
  background-color: #254f97;
}

/* 강의실 삭제 모드 */
.classroom-delete__header {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.classroom-delete__main {
  width: 95%;
}

.classroom-delete__table {
  width: 100%;
}

.classroom-delete__checkbox {
  padding: 0px;
  margin-left: 10px;
  width: 50px;
}

.classroom-delete__footer {
  width: 95%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.classroom-delete__submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

/* 강의실 수정 모달 */
.classroom-update__title {
  margin-bottom: 25px;
}

.classroom-update__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.classroom-update__list {
  list-style: none;
}

.classroom-update__input {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.classroom-update__textarea {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.classroom-update__footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.classroom-update__submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.classroom-update__submit:hover {
  background-color: #254f97;
}

/* 학생 상세보기 모달 */
.students-details__title {
  margin-bottom: 25px;
}

.students-details__list {
  list-style: none;
}

.students-details__item {
  margin-bottom: 5px;
}

.students-details__footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.students-details__update {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.students-details__update:hover {
  background-color: #254f97;
}

/* 학생 등록 모달 */
.students-create__title {
  margin-bottom: 25px;
}

.students-create__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.students-create__list {
  list-style: none;
}

.students-create__input {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.students-create__textarea {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.students-create__footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.students-create__submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.students-create__submit:hover {
  background-color: #254f97;
}

/* 학생 삭제 모드 */
.students-delete__header {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.students-delete__main {
  width: 95%;
}

.students-delete__table {
  width: 100%;
}

.students-delete__td {
  padding: 0px;
  width: 50px;
}

.students-delete__checkbox {
  padding: 0px;
  margin-left: 10px;
  width: 50px;
}

.students-delete__footer {
  width: 95%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.students-delete__submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

/* 학생 수정 모달 */
.students-update__title {
  margin-bottom: 25px;
}

.students-update__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.students-update__list {
  list-style: none;
}

.students-update__input {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.students-update__textarea {
  padding: 10px;
  width: 87%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.students-update__footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.students-update__submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #3a7bec;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.students-update__submit:hover {
  background-color: #254f97;
}
