/* 모달창 전체 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: linear-gradient(to right, #f3f4f6 10%, #ffeedd 30%, #f5f8ff 60%);
  padding: 40px;
  border-radius: 8px;
  width: 85%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 강의실 상세보기 모달 */
.classroom-details__title {
  margin-bottom: 50px;
  font-size: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.classroom-details__actions {
  margin-left: auto;
}

.school_image {
  width: 35px;
}

.classroom-details__list {
  list-style: none;
  height: 100%;
}

.classroom-details__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.classroom-details__label {
  font-weight: bold;
  width: 20%;
  font-size: 20px;
}

.classroom-details__content {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff50;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.classroom-details__update {
  background-color: white;
  color: #798df3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.classroom-details__update:hover {
  background-color: #798df349;
}

.classroom-details__delete {
  background-color: white;
  color: #e89baa;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.classroom-details__delete:hover {
  background-color: #e89baa52;
}

/* 강의실 등록 모달 */
.classroom-create__title {
  margin-bottom: 50px;
  font-size: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.classroom-create__submit_span {
  margin-left: auto;
}

.classroom-create__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.classroom-create__label {
  font-weight: bold;
  width: 20%;
  font-size: 20px;
}

.classroom-create__list {
  list-style: none;
  width: 100%;
  height: 100%;
  text-align: left;
}

.classroom-create__input {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.classroom-create__textarea {
  padding: 15px 10px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  resize: none;
}

.classroom-create__submit_div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.classroom-create__submit {
  background-color: white;
  color: #798df3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.classroom-create__submit:hover {
  background-color: #798df349;
}

/* 강의실 수정 모달 */
.classroom-update__title {
  margin-bottom: 50px;
  font-size: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.classroom-update__submit_span {
  margin-left: auto;
}

.classroom-update__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.classroom-update__label {
  font-weight: bold;
  width: 20%;
  font-size: 20px;
}

.classroom-update__list {
  list-style: none;
  height: 100%;
}

.classroom-update__input {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.classroom-update__textarea {
  padding: 15px 10px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  resize: none;
}

.classroom-update__submit_div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.classroom-update__submit {
  background-color: white;
  color: #798df3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.classroom-update__submit:hover {
  background-color: #798df349;
}

/* 강의 상세보기 모달 */
.class-details__title {
  margin-bottom: 50px;
  font-size: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.class-details__actions {
  margin-left: auto;
}

.book-image {
  width: 35px;
}

.class-details__list {
  list-style: none;
  height: 100%;
}

.class-details__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.class-details__label {
  font-weight: bold;
  width: 15%;
  font-size: 20px;
}

.class-details__content {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff50;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.class-details__update_div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.class-details__update {
  background-color: white;
  color: #798df3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.class-details__update:hover {
  background-color: #798df349;
}

.class-details__delete {
  background-color: white;
  color: #e89baa;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.class-details__delete:hover {
  background-color: #e89baa52;
}

/* 강의 등록 모달 */
.class-create__title {
  font-size: 27px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.class-create__submit_span {
  margin-left: auto;
}

.class-create__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.class-create__label {
  font-weight: bold;
  width: 15%;
  font-size: 20px;
}

.class-create-pdf_label {
  font-weight: bold;
  width: 20%;
  font-size: 20px;
}

.class-create__list {
  list-style: none;
  width: 100%;
  height: 100%;
  text-align: left;
}

.class-create__input {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.class-create__input::placeholder {
  font-size: 15px;
}

.class-create__textarea {
  padding: 15px 10px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  resize: none;
}

.class-create__submit_div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.class-create__submit {
  background-color: white;
  color: #798df3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.class-create__submit:hover {
  background-color: #798df349;
}

.class-create__submit.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

/* 강의 수정 모달 */
.class-update__title {
  margin-bottom: 50px;
  font-size: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.class-update__submit_span {
  margin-left: auto;
}

.class-update__label {
  font-weight: bold;
  width: 15%;
  font-size: 20px;
}

.class-update__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.class-update__list {
  list-style: none;
  height: 100%;
}

.class-update__input {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.class-update__textarea {
  padding: 10px;
  width: 87%;
  height: 400px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.class-update__submit_div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.class-update__submit {
  background-color: white;
  color: #798df3;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.class-update__submit:hover {
  background-color: #798df349;
}

.date-range-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.date-range-row span {
  margin-left: 10px;
  margin-right: 10px;
}

/* 강의실 사용현황 상세보기 모달 */
.reservation-details__title {
  margin-bottom: 50px;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservation-details__title-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-button-wrapper {
  display: flex;
  align-items: center;
}

.calender-image {
  width: 35px;
}

.reservation-details__list {
  list-style: none;
}

.reservation-details__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.reservation-details__label {
  font-weight: bold;
  width: 15%;
  font-size: 20px;
}

.reservation-details__content {
  padding: 15px 10px;
  width: 100%;
  background-color: #ffffff50;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.reservation-details__update_div {
  position: relative;
  display: inline-block;

  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.reservation-details__update {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #798df3;
  margin-right: 20px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reservation-details__update:hover {
  background-color: #798df349;
}

.reservation-details__delete {
  background-color: white;
  color: #e89baa;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.reservation-details__delete:hover {
  background-color: #e89baa52;
}

/* 강의 pdf 등록 모달 */
.pdf-upload__title-wrapper {
  margin-bottom: 50px;
}

.pdf-upload__header {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: flex-start;
  position: relative;
  padding: 20px 0;
}

.pdf-upload__close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.pdf-upload__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pdf-upload__title-left {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  gap: 12px; /* 제목과 설명 간 간격 */
  width: 100%; /* 가운데 정렬을 위해 전체 너비 */
  flex-wrap: nowrap; /* 한 줄 유지 */
}

.pdf-upload__title {
  font-size: 27px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.pdf-upload__description {
  font-size: 15px;
  color: #555;
}
