/* 예약 정보 엔덱스 블럭 */
.reserve-item {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

/* 예약자 이름 스타일 */
.reserve-name {
  font-weight: bold;
  display: block;
}

/* 예약 시간 스타일 */
.reserve-time {
  font-weight: bold;
  display: block;
}

/* 예약 목적 스타일 */
.reserve-purpose {
  font-size: 10px;
  color: #555;
}
