.student-info-update__row_div {
  padding: 20px 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.student-info-update__row {
  display: flex;
  gap: 10px;
}

.student-info-update__cell {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.student-info-update__details-button {
  background-color: #3a7bec;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
  margin-left: auto;
}

.student-info-update__details-button:hover {
  background-color: #254f97;
}
