.no-result {
  padding-top: 30px;
  color: #798df3;
}

.timetable-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.table-title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.table-title strong {
  color: #798df3;
  font-weight: bold;
}

.calender_image {
  width: 20px;
}

.timetable-table {
  width: 80%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.377);
  padding: 10px 15px;
}

.timetable-table tr {
  background-color: #ffffff50;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.timetable-table td {
  border: none;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  width: 20%;
  font-weight: 500;
}

.type {
  width: 10%;
}

.class_type {
  background-color: #798df3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  font-size: 13px;
}

.reservation_type {
  background-color: #dda82a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  font-size: 13px;
}

.title {
  width: 50%;
  font-weight: 500;
}

.name {
  width: 20%;
  font-weight: 500;
}

.no-result {
  text-align: center;
  padding: 20px;
  font-weight: 500;
}
