.time-table-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  margin-left: 180px;
}

@media (min-width: 1500px) {
  /* PC 화면 */
  .time-table-overlay {
    width: 90%;
  }
}

.reservation-item {
  position: absolute;
  padding: 0;
  margin: 0;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
