#logout-button {
  background-color: #f5f8ff;
  color: black;
  border: none;
  border-radius: 30px;
  padding: 12px 7px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logout-button:hover {
  background-color: #798df349;
}
