.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.sidebar-container.open {
  left: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.sidebar-close {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 15px;
}

.sidebar-close:hover {
  background: #eaf0f7;
  font-weight: bolder;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  flex-grow: 1;
}

.sidebar-links__item {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 30px;
  list-style: none;
  font-weight: bold;
}

.sidebar-links__item:hover {
  background-color: #eaf0f7;
}

.sidebar-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.sidebar-links a:hover {
  color: #666;
}

.sidebar-toggle-btn {
  position: fixed;
  top: 25px;
  left: 20px;
  background: transparent;
  color: #000000;
  border: none;
  padding: 5px 11px;
  cursor: pointer;
  font-size: 34px;

  border-radius: 5px;
  transition: background 0.3s ease;
}

.sidebar-toggle-btn:hover {
  color: #4461f2;
}

.sidebar-toggle-btn.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.logout-container {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
