.student-info-update__id__name {
  width: 90%;
  padding: 30px 30px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.student-info-update__details-button {
  padding: 30px 30px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #dbdbdb;
  cursor: pointer;
}

.student-info-update__details-button:hover {
  background-color: #ccc;
}
