.advertising-page__table-cell {
  padding: 0px 15px;
  border: 1px solid #ccc;
}

.advertising-page__details-button {
  padding: 30px 30px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #dbdbdb;
  cursor: pointer;
}

.advertising-page__detail-button:hover {
  background-color: #ccc;
}
