.notice-page__row_div {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  border-radius: 10px;
}

.notice-page__row_div:hover {
  background-color: #f5f8ff;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notice-page__row {
  display: flex;
}

.notice-page__label {
  font-size: 13px;
}

.notice-page__table-cell {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.notice-page__table-date {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}
