.notice-page__row_div {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
  margin: 10px 10px 10px 10px;
}

.notice-page__row_div:hover {
  background-color: #f0f4ff54;
  font-weight: bolder;
}

.notice-page__row {
  display: flex;
  gap: 10px;
}

.notice-page__table-cell {
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.notice-page__divider {
  width: 2px;
  background-color: #ccc;
  border-radius: 10px;
}
