.classroom-info-update__header {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #dddfdd;
  width: 95%;
  align-items: center;
}

.classroom-info-update__nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.classroom-info-update__title {
  font-size: 27px;
}

.classroom-info-update__action-create,
.classroom-info-update__action-delete {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 30px;
  padding: 10px 3px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.classroom-info-update__action-create:hover,
.classroom-info-update__action-delete:hover {
  background-color: #798df3;
  color: #ffffff;
}

.classroom-info__search {
  padding-bottom: 20px;
  border-bottom: 2px solid #dddfdd;
  width: 95%;
}

.classroom-info__search-list {
  width: 100%;
  background-color: transparent;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.classroom-info__search-item {
  background-color: #eaf0f7;
  border-radius: 30px;
  border: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 40%;
}

.classroom-info__search-item > input {
  margin-left: 10px;
}

.classroom-info__search-label {
  width: 90px;
  border-right: 1px solid rgb(83, 83, 83);
}

.classroom-info__search-input {
  width: 80%;
  background-color: #eaf0f7;
  border: none;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 5px;
}

.classroom-info__search-input::placeholder {
  color: rgb(83, 83, 83);
  transition: color 0.3s ease;
}

.classroom-info__search-input:focus {
  outline: none;
  background-color: #dee5ec;
}

.classroom-info-update__main {
  width: 95%;
  margin-top: 30px;
  border-left: 4px solid #4461f2;
  background-color: #eaf0f7;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 20px 20px 0px;
}

.classroom-info__building-name {
  font-size: 20px;
  padding-left: 40px;
}

.classroom-info-update__table-div {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.classroom-info-update__table {
  width: 100%;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-open .student-info__main_div {
  pointer-events: none;
  opacity: 0.5; /* 흐리게 */
  transition: opacity 0.3s ease-in-out;
}
