.class-info-update__header {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #dddfdd;
  width: 95%;
  align-items: center;
}

.class-info-update__nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.class-info-update__title {
  font-size: 27px;
}

.class-info-update__action-create,
.class-info-update__action-delete {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 30px;
  padding: 10px 3px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.class-info-update__action-create:hover,
.class-info-update__action-delete:hover {
  background-color: #798df3;
  color: #ffffff;
}

.classroom-info__search {
  padding-bottom: 20px;
  border-bottom: 2px solid #dddfdd;
  width: 95%;
}

.class-info__search-list {
  width: 100%;
  background-color: transparent;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.class-info__search-item {
  background-color: #f5f8ff;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.class-info__search-item > input {
  margin-left: 10px;
}

.class-info__search-label {
  width: 20%;
  border-right: 2px solid #7c7c7c;
}

.class-info__search-input {
  width: 80%;
  background-color: #f5f8ff;
  border: none;
  padding-left: 10px;
  font-size: 17px;
}

.class-info__search-input::placeholder {
  color: rgb(83, 83, 83);
  transition: color 0.3s ease;
}

.class-info__search-input:focus {
  outline: none;
}

.class-info-update__main {
  background-color: transparent;
  width: 95%;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 30px;
}

.class-info-update__table {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-open .student-info__main_div {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
