.classroom-info-update__header {
  margin-bottom: 30px;
}

.classroom-info-update__main {
  width: 95%;
}

.classroom-info-update__table {
  border: 1px solid #ccc;
}

.classroom-info-update__name {
  width: 90%;
  padding: 30px 30px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.classroom-info-update__details-button {
  padding: 30px 30px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #dbdbdb;
  cursor: pointer;
}

.classroom-info-update__details-button:hover {
  background-color: #ccc;
}
