.room-reservation-status__header {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ccc;
  width: 95%;
}

.room-reservation-status__title {
  font-size: 30px;
}

.room-reservation-status__main {
  width: 95%;
}
