.student-info-update__header {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.student-info-update__action-button {
  padding: 5px 10px;
}

.student-info-update__main {
  width: 95%;
}

.student-info-update__table {
  border: 1px solid #ccc;
}

.student-info-update__id {
  width: 90%;
  padding: 30px 30px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.student-info-update__detail-button {
  padding: 30px 30px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #dbdbdb;
  cursor: pointer;
}

.student-info-update__detail-button:hover {
  background-color: #ccc;
}
