.student-info__header {
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ccc;
  width: 95%;
}

.student-info__title {
  font-size: 30px;
}

.student-info__search-list {
  width: 95%;
  background-color: #f5f5f5;
  padding: 15px 10px;
  display: flex;
  gap: 20px;
}

.student-info__search-item {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 30%;
}

.student-info__search-item > input {
  margin-left: 10px;
}

.student-info__search-label {
  width: 15%;
}

.student-info__search-input {
  padding: 10px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}

.student-info__main_div {
  width: 95%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin-top: 30px;
}

.student-info__table {
  width: 100%;
}

.student-info__footer {
  position: fixed;
  bottom: 60px;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.student-info__action-button {
  border-radius: 100px;
  background: #10069f;
  border: none;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.student-info__action-button:hover {
  background-color: rgb(18, 39, 75);
}

.student-info__action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translateX(50%) translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.student-info__footer:hover .student-info__action-container,
.student-info__action-button:hover ~ .student-info__action-container,
.student-info__action-container:hover {
  opacity: 1;
  visibility: visible;
  transform: translateX(50%) translateY(0);
}

.student-info__action-create,
.student-info__action-delete {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s ease;
}

.student-info__action-create:hover,
.student-info__action-delete:hover {
  background-color: #bbb;
  font-weight: bolder;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-open .student-info__main_div {
  pointer-events: none;
  opacity: 0.5; /* 흐리게 */
  transition: opacity 0.3s ease-in-out;
}
